# Operating System Files
.DS_Store
Thumbs.db
Desktop.ini

# Python specific files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.env
pip-log.txt
pip-delete-this-directory.txt
.idea/ # For PyCharm/IntelliJ
*.egg-info/
.pytest_cache/

# Streamlit specific files
.streamlit/local_configs.toml
.streamlit/credentials.toml
.streamlit/config.toml
.streamlit/secrets.toml
.streamlit/cache/
.streamlit/static/

# Visual Studio Code
.vscode/

# Git specific files
.gitconfig
.lesshst

# Common system/user directories (VERY IMPORTANT to add these if they appeared in untracked files)
Application Data/
Cookies/
Documents/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
AppData/
Apple/
Contacts/

# Specific project ignores
expenses_export.csv
Expenses for BI/